<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <title>Todolist avec socket.io !</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <h1 class="h1 bg-dark text-light p-2"><%= title %></h1>

  <div class="container">

    <div class="row">
      <div class="col-sm-8">

        <div class="row">
          <div class="col-sm-12">
            <h2>Todolist</h2>
            <form action="/todo/add" method="post" id="form-todolist" onsubmit="submitFormTodolist(this)">
              <div class="form-group">
                <label for="todo">Votre todo</label>
                <input type="text" name="todo" id="todo" class="form-control" placeholder="Votre todo...">
              </div>
              <button type="submit" id="button-submit-todolist" class="btn btn-secondary">Envoyer</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <ol id="todolist-container" class="list-group">
            </ol>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h2>Users</h2>
        <ul id="pseudolist-container">
        </ul>
      </div>
    </div>

  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script>

    var socket = io.connect('http://localhost:8080');
    var formTodolist = document.querySelector('#form-todolist');
    var pseudolistContainer = document.querySelector('#pseudolist-container');
    var todolistContainer = document.querySelector('#todolist-container');
    var buttonForm = document.querySelector('#button-submit-todolist');

    socket.on('pseudolist', function (pseudolist) {
      pseudolistContainer.innerHTML = ''
      pseudolist.forEach(function (pseudo, i) {
        insertPseudo(pseudo)
      })
    })

    socket.on('todolist', function (todolist) {
      todolistContainer.innerHTML = ''
      todolist.forEach(function (todo, i) {
        insertTodo(todo, i);
      })
    })

    formTodolist.onsubmit = function () {
      const todo = this.todo.value
      if (todo) {
        const lastIndex = todolistContainer.children.length - 1
        socket.emit('add_todo', todo);
        insertTodo(todo, lastIndex);
      }
      return false;
    }

    var pseudo = prompt('Quel est votre pseudo ?');
    if (pseudo) {
      document.title = pseudo + ' - ' + document.title;
      socket.emit('add_pseudo', pseudo);
      insertPseudo(pseudo)
    }


    function insertTodo(todo, index) {

      const li = document.createElement('li');
      const buttonToRemove = document.createElement('a')
      buttonToRemove.innerHTML = "✘ "
      buttonToRemove.onclick = function () {
        socket.emit('remove_todo', index)
        li.remove()
        return false
      }
      li.append(buttonToRemove)
      li.append(todo)
      todolistContainer.append(li);
    }

    function insertPseudo(pseudo) {
      const li = document.createElement('li');
      li.innerHTML = pseudo
      pseudolistContainer.append(li);
    }
  </script>
</body>

</html>